.exams-content{
  padding-top: 30px;
  padding-bottom: 30px;
}

/* exams-index */

.index input[type="search"]{
  background-image: url(../img/search.png);
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: 10px center;
  padding-left: 35px;
  width: 50%;
}
.index select.form-control{
  width: 120px;
}
.index .exams-table{
  margin-top: 30px;
}
.index .exams-table tr:nth-child(2n){
  background-color: #f8f8f8;
}
.index .exams-table th{
  padding: 4px 0;
}
.index .exams-table td{
  padding: 10px;
  text-align: center;
}
.index .exams-table .date{
  width: 10%;
}
.index .exams-table .test-title{
  text-align: left;
  width: 40%;
}
.index .exams-table .category{
  width: 20%;
}
.index .exams-table .examinee{
  width: 7%;
}
.index .exams-table .mode{
  width: 10%;
}
.index .exams-table .time{
  width: 7%;
}
.index .examinee .num{
  width: 6%;
}
.index .no-test{
  text-align: center;
}
.index .no-test td{
  padding: 25px 0px;
}
.index .no-test .text{
  margin-bottom: 10px;
}
.index .no-test .new-btn{
  display: inline-block;
}

/* exams-new */

.new .label{
  font-weight: 600;
  color: #888;
  margin-bottom: 5px;
}
.new .exams-element{
  margin-bottom: 30px;
}
.new .template-box{
  border: 1px solid #ccc;
  padding: 20px 20px 10px;
}
.new .template-box .template{
  display: inline-block;
  margin-bottom: 10px;
}
.new .exams-element.time .form-control{
  width: 20%;
}
.new .exams-element.num .form-control{
  width: 20%;
}
.new .exams-element.message .form-control{
  width: 50%;
  max-width: 50%;
  min-height: 100px;
  max-height: 100px;
}
.new .exams-element.info{
  margin-bottom: 50px;
}
.new .info-box{
  border: 1px solid #ccc;
  padding: 20px 20px 10px;
}
.new .info-box .info{
  display: inline-block;
  margin-bottom: 10px;
}
.new .exams-content .new-btn{
  width: 40%;
  margin: 0 auto;
  font-size: 18px;
}