.exams-content{
  padding-top: 30px;
  padding-bottom: 30px;
}
.label{
  font-weight: 600;
  color: #888;
  margin-bottom: 5px;
}

/* exams-index */

.index input[type="search"]{
  background-image: url(../img/search.png);
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: 10px center;
  padding-left: 35px;
  width: 50%;
}
.index select.form-control{
  width: 120px;
}
.index .exams-table{
  margin-top: 30px;
  font-size: 13px;
}
.index .exams-table tr:nth-child(2n){
  background-color: #f8f8f8;
}
.index .exams-table th{
  padding: 4px 0;
}
.index .exams-table tr{
  border: 1px solid #ccc;
}
.index .exams-table td{
  padding: 10px;
  text-align: center;
  border: 1px dashed #ccc;
}
.index .exams-table .date{
  width: 10%;
}
.index .exams-table .test-title{
  text-align: left;
  width: 40%;
}
.index .exams-table .category{
  width: 20%;
}
.index .exams-table .examinee{
  width: 7%;
}
.index .exams-table .mode{
  width: 10%;
}
.index .exams-table .time{
  width: 7%;
}
.index .examinee .num{
  width: 6%;
}
.index .no-test{
  text-align: center;
}
.index .no-test td{
  padding: 25px 0px;
}
.index .no-test .text{
  margin-bottom: 10px;
}
.index .no-test .new-btn{
  display: inline-block;
}

/* exams-new */

.new .exams-element{
  margin-bottom: 30px;
}
.new .template-box{
  border: 1px solid #ccc;
  padding: 20px 20px 10px;
}
.new .template-box .template{
  display: inline-block;
  margin-bottom: 10px;
}
.new .exams-element.time .form-control{
  width: 20%;
}
.new .exams-element.num .form-control{
  width: 20%;
}
.new .exams-element.message .form-control{
  width: 50%;
  max-width: 50%;
  min-height: 100px;
  max-height: 100px;
}
.new .exams-element.info{
  margin-bottom: 50px;
}
.new .info-box{
  border: 1px solid #ccc;
  padding: 20px 20px 10px;
}
.new .info-box .info{
  display: inline-block;
  margin-bottom: 10px;
}
.new .exams-content .new-btn{
  width: 40%;
  margin: 0 auto;
  font-size: 18px;
}

/* exams-edit */

.edit .sub-header{
  height: 45px;
  border-bottom: 1px solid #ddd;
}
.edit .sub-header ul{
  height: 45px;
}
.edit .sub-header li{
  display: table;
  float: left;
  height: 45px;
}
.edit .sub-header li a{
  display: table-cell;
  vertical-align: middle;
  color: #aaa;
  font-weight: 600;
  padding: 0px 15px;
  font-size: 13px;
}
.edit .sub-header li a:hover{
  color: #3c9a43;
}
.edit .sub-header li a.active{
  color: #3c9a43;
  position: relative;
}
.edit .sub-header li a.active:after{
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #3c9a43;
  left: 0;
  bottom: -1px;
}

/* edit-quize */
.edit-quize .nav-tabs-content{
  margin-top: 30px;
}
.edit-quize .nav-tabs > li > a{
  margin-right: 6px;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
  padding: 8px 15px;
}
.edit-quize .nav > li > a:hover, .nav > li > a:focus{
  background-color: #f5f5f5;
  border-bottom: 1px solid #ddd;
}
.edit-quize .nav > li.active > a:hover, .nav > li.active > a:focus{
  background-color: #fff;
  border-bottom-color: transparent;
}
.edit-quize .quize{
  padding: 15px 0px;
  border-bottom: 1px solid #ddd;
}
.edit-quize .quize .media{
  padding: 15px;
  box-sizing: border-box;
}
.edit-quize .quize .media-left{
  width: 7%;
}
.edit-quize .quize .media-body{
  width: 93%;
}
.edit-quize .quize .title{
  font-size: 18px;
  font-weight: 600;
  color: #3C9A43;
  position: relative;
}
.edit-quize .quize .element a.btn{
  margin-right: 5px;
}
.edit-quize .quize .edit .btn{
  font-size: 12px;
}
.edit-quize .quize .edit .btn.cancel{
  margin-right: 5px;
}
.edit-quize .quize .question-content{
  border: 1px solid #ccc;
  background-color: #f5f5f5;
  padding: 15px;
}
.edit-quize .quize .question-content textarea{
  min-height: 120px;
  max-width: 100% !important;
  width: 100% !important;
}
.edit-quize .quize .question-content .element{
  font-size: 12px;
  margin-top: 15px;
}
.edit-quize .quize .question-content #image-modal .well{
  padding: 38px 19px;
  background-color: #eee;
  border: 1px solid #ccc;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
  text-align: center;
  font-weight: 600;
  color: #aaa;
  cursor: pointer;
}
.edit-quize .quize .question-content #image-modal .well img{
  opacity: 0.5;
}
.edit-quize .quize .question-content .repletion{
  font-size: 13px;
  margin-top: 4px;
}
.edit-quize .quize .answer-content{
  border: 1px solid #ccc;
  background-color: #f5f5f5;
  padding: 15px;
}
.edit-quize .quize .answer-content .element{
  font-size: 12px;
  margin-bottom: 15px;
}
.edit-quize .quize .answer-content .text-box{
  font-size: 0;
  position: relative;
}
.edit-quize .quize .answer-content .text-box *{
  font-size: 14px;
}
.edit-quize .quize .answer-content .text-box .box{
  display: inline-block;
  width: 50%;
  vertical-align: top;
  box-sizing: border-box;
  padding-bottom: 10px;
}
.edit-quize .quize .answer-content .text-box .box:nth-child(2n-1){
  padding-right: 10px;
}
.edit-quize .quize .answer-content .text-box .box:nth-child(2n){
  padding-left: 10px;
}
.edit-quize .quize .answer-content .text-box .box label{
  width: 100%;
  box-sizing: border-box;
  margin-right: 0px;
}
.edit-quize .quize .answer-content .text-box .box label textarea{
  max-width: 100%;
  min-height: 80px;
  max-height: 100px;
}
.edit-quize .quize .explanation-content{
  border: 1px solid #ccc;
  background-color: #f5f5f5;
  padding: 15px;
}
.edit-quize .quize .explanation-content textarea{
  min-height: 120px;
  max-width: 100% !important;
  width: 100% !important;
  margin-bottom: 15px;
}
.edit-quize .quize .explanation-content .element{
  font-size: 12px;
  margin-bottom: 15px;
}

/* edit-information */

.edit-information .exams-element{
  margin-bottom: 30px;
}
.edit-information .template-box{
  border: 1px solid #ccc;
  padding: 20px 20px 10px;
}
.edit-information .template-box .template{
  display: inline-block;
  margin-bottom: 10px;
}
.edit-information .exams-element.time .form-control{
  width: 20%;
}
.edit-information .exams-element.num .form-control{
  width: 20%;
}
.edit-information .exams-element.message .form-control{
  width: 50%;
  max-width: 50%;
  min-height: 100px;
  max-height: 100px;
}
.edit-information .exams-element.info{
  margin-bottom: 50px;
}
.edit-information .info-box{
  border: 1px solid #ccc;
  padding: 20px 20px 10px;
}
.edit-information .info-box .info{
  display: inline-block;
  margin-bottom: 10px;
}
.edit-information .exams-content .new-btn{
  width: 40%;
  margin: 0 auto;
  font-size: 18px;
}

/* edit-insight */

.edit-insight input[type="search"]{
  background-image: url(../img/search.png);
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: 10px center;
  padding-left: 35px;
  width: 50%;
}
.edit-insight select.form-control{
  width: 120px;
}
.edit-insight table{
  border: none;
}
.edit-insight .exams-users{
  padding-top: 30px;
}
.edit-insight tr{
  border: 1px solid #ccc;
  font-size: 13px;
  cursor: pointer;
}
.edit-insight tr:nth-child(2n){
  background-color: #f8f8f8;
}
.edit-insight tr.title-head{
  cursor: inherit;
}
.edit-insight tr.clickable:hover{
  background-color: #efefef;
}
.edit-insight th{
  padding: 4px 0px;
}
.edit-insight td{
  border: 1px dashed #ccc;
  text-align: center;
  padding: 7px;
}
.edit-insight td.date{
  width: 10%;
}
.edit-insight td.user-img{
  width: 8%;
}
.edit-insight td.user-img img{
  display: block;
  margin: 0 auto;
}
.edit-insight td.user-name{
  text-align: left;
  width: 12%;
  color: #3c9a43;
}
.edit-insight tr.clickable:hover td.user-name{
  color: #2f754f;
}
.edit-insight td.user-email{
  width: 24%;
  text-align: left;
}
.edit-insight td.panswer{
  width: 12%;
  font-weight: 600;
  color: #3c5b9a;
}
.edit-insight td.panswer.high{
  color: #3c9a43;
}
.edit-insight td.panswer.low{
  color: #da3b30;
}
.edit-insight td.panswer .num{
  font-size: 16px;
}
.edit-insight td.danswer{
  width: 34%;
}
.edit-insight td.danswer td{
  border: 1px solid #ddd;
  width: 5%;
  background-color: #fff;
}
.edit-insight td.danswer td.correct{
  background-color: #3c9a43;
}

/* edit-insight-user */

.edit-insight-user .breadcrumb{
  font-size: 12px;
}
.edit-insight-user .breadcrumb li{
  display: inline-block;
}
.edit-insight-user .breadcrumb li.angle-right{
  margin: 0px 5px;
  color: #888;
}
.edit-insight-user .user-insight .media{
  margin-top: 20px;
}
.edit-insight-user .user-insight .media-left{
  width: 120px;
  padding-right: 20px;
}
.edit-insight-user .user-insight .answer-date{
  color: #999;
  margin-top: 5px;
}
.edit-insight-user .user-insight .name-email{
  font-size: 20px;
  margin: 2px 0px 20px;
}
.edit-insight-user .user-insight .panswer{
  width: auto;
  color: #3c9a43;
  font-size: 16px;
  margin-right: 10px;
}
.edit-insight-user .user-insight .panswer .num{
  font-size: 20px;
  font-weight: 600;
}
.edit-insight-user .user-insight .danswer{
  width: 50%;
}
.edit-insight-user .danswer td.correct{
  background-color: #3c9a43;
}
.edit-insight-user .quize-insight{
  margin-top: 20px;
}
.edit-insight-user .quize-insight table{
  font-size: 13px;
}
.edit-insight-user .quize-insight tr:nth-child(2n){
  background-color: #f8f8f8;
}
.edit-insight-user .quize-insight th{
  padding: 4px 0;
}
.edit-insight-user .quize-insight td{
  text-align: center;
  padding: 10px;
}
.edit-insight-user .quize-insight td.quize-num{
  width: 6%;
}
.edit-insight-user .quize-insight td.question{
  text-align: left;
  width: 70%;
}
.edit-insight-user .quize-insight td.answer{
  width: 8%;
}
.edit-insight-user .quize-insight td.correct-answer{
  width: 8%;
}
.edit-insight-user .quize-insight td.errata{
  width: 8%;
}
.edit-insight-user .quize-insight td.errata.ca{
  color: #da3b30;
  font-size: 18px;
}
.edit-insight-user .quize-insight td.errata.ia{
  color: #888;
  font-size: 18px;
}