html,body{
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #555;
  width: 100%;
  height: 100%;
  line-height: 1.4;
}
h1,h2,h3,h4,h5,h6{
  margin: 0;
  padding: 0;
}
ul, li{
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}
a{
  color: #419968;
  text-decoration: none;
}
a:hover{
  color: #2f754f;
}
table{
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ccc;
}
th, td{
  border: 1px solid #ccc;
}

.left{
  float: left;
}
.right{
  float: right;
}
.clear{
  clear: both;
}
.inline-block{
  display: inline-block;
}
.middle{
  vertical-align: middle;
}
.table{
  display: table;
  width: 100%;
  text-align: center;
}
.table-cell{
  display: table-cell;
  vertical-align: middle;
}
.center{
  text-align: center;
}
.media{
  display: table;
  width: 100%;
}
.media-left, .media-body{
  display: table-cell;
  vertical-align: top;
}

#wrapper{
  min-height: 100%;
  position: relative;
}

#header{
  width: 100%;
  height: 60px;
  padding: 0px 10px;
  box-sizing: border-box;
  position: relative;
  z-index: 9998;
  border-bottom: 1px solid #ddd;
}
#header .header-left{
  width: auto;
  height: 60px;
  font-size: 24px;
}
#header .header-left a{
  color: #333;
}
#header .header-right{
  width: auto;
  height: 60px;
}
.new-btn{
  display: block;
  color: #5973a9;
  border: 2px solid #5973a9;
  border-radius: 20px;
  font-size: 14px;
  padding: 8px 20px;
  font-weight: 600;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
.new-btn:hover{
  color: #fff;
  background-color: #5973a9;
}
.btn{
  -webkit-box-shadow: inset 0 1px 0 #fff,0 1px 0 rgba(0,0,0,.08);
  box-shadow: inset 0 1px 0 #fff,0 1px 0 rgba(0,0,0,.08);
  padding: 6px 12px;
  border-radius: 2px;
  position: relative;
}
.btn.disabled{
  opacity: 0.5;
}
.btn:focus{
  outline: none;
}
.btn-default, .btn-default.disabled:hover{
  color: #555;
  border: 1px solid #ccc;
  background: #f7f7f7;
}
.btn-default:hover{
  background: #efefef;
  border-color: #999;
  color: #333;
}
.btn-default.active{
  border: 1px solid #999;
  -webkit-box-shadow: inset 0px 1px 0px rgba(0,0,0,0.1);
  box-shadow: inset 0px 1px 0px rgba(0,0,0,0.1);
  background-color: #eaeaea;
  color: #333;
  padding: 6px 12px;
  border-radius: 2px;
  margin-right: 5px;
}
.btn-success, .btn-success.disabled:hover{
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.5),0 1px 0 rgba(0,0,0,.08);
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.5),0 1px 0 rgba(0,0,0,.08);
  color: #fff;
  border: 1px solid #2d7632;
  background: #59a95f;
}
.btn-success:hover{
  background: #3c9a43;
  color: #fff;
}

#main{
  padding-bottom: 120px;
}

.content{
  width: 1050px;
  margin: 0 auto;
}

#footer{
  position: absolute;
  bottom: 0;
  height: 80px;
  width: 100%;
  border-top: 1px solid #ccc;
  background-color: #eee;
  color: #888;
}

#page-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
}
#page-top a {
  background-color: #0B5F32;
  text-decoration: none;
  color: rgba(255,255,255,0.9);
  width: 45px;
  height: 45px;
  border: 1px solid #fff;
  text-align: center;
  display: table;
  border-radius: 5px;
  font-size: 24px;
}
#page-top a:hover {
  text-decoration: none;
  background: #327751;
}

input[type=radio],
input[type=checkbox] {
    display: inline-block;
    margin-right: 6px;
}
input[type=radio] + label,
input[type=checkbox] + label {
    position: relative;
    display: inline-block;
    margin-right: 18px;
    font-size: 14px;
    line-height: 30px;
    cursor: pointer;
}

@media (min-width: 1px) {
    input[type=radio],
    input[type=checkbox] {
        display: none;
        margin: 0;
    }
    input[type=radio] + label,
    input[type=checkbox] + label {
        padding: 0 0 0 24px;
    }
    input[type=radio] + label::before,
    input[type=checkbox] + label::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;

        -moz-box-sizing: border-box;
        box-sizing: border-box;
        display: block;
        width: 18px;
        height: 18px;
        margin-top: -9px;

        background: #FFF;
    }
    input[type=radio] + label::before {
        border: 2px solid #ccc;
        border-radius: 30px;
    }
    input[type=checkbox] + label::before {
        border: 2px solid #ccc;
    }
    input[type=checkbox]:disabled + label::before {
      border: 2px solid #eee;
    }
    input[type=checkbox]:disabled + label{
      color: #aaa;
    }
    input[type=radio]:checked + label::after,
    input[type=checkbox]:checked + label::after {
        content: "";
        position: absolute;
        top: 50%;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        display: block;
    }
    input[type=radio]:checked + label::after {
        left: 5px;

        width: 8px;
        height: 8px;
        margin-top: -4px;

        background: #009ee7;
        border-radius: 8px;
    }
    input[type=checkbox]:checked + label::after {
        left: 3px;
        width: 16px;
        height: 8px;
        margin-top: -8px;
        border-left: 3px solid #009ee7;
        border-bottom: 3px solid #009ee7;
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }
}