html,body{
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #333;
  width: 100%;
  height: 100%;
  line-height: 1.4;
}
h1,h2,h3,h4,h5,h6{
  margin: 0;
  padding: 0;
}
ul, li{
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}
a{
  color: #419968;
  text-decoration: none;
}
a:hover{
  color: #2f754f;
}
table{
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ccc;
}
th, td{
  border: 1px solid #ccc;
}

.left{
  float: left;
}
.right{
  float: right;
}
.clear{
  clear: both;
}
.inline-block{
  display: inline-block;
}
.middle{
  vertical-align: middle;
}
.table{
  display: table;
  width: 100%;
  text-align: center;
}
.table-cell{
  display: table-cell;
  vertical-align: middle;
}
.center{
  text-align: center;
}
.media{
  display: table;
  width: 100%;
}
.media-left, .media-body{
  display: table-cell;
  vertical-align: top;
}

#wrapper{
  min-height: 100%;
  position: relative;
}

#header{
  width: 100%;
  height: 60px;
  padding: 0px 10px;
  box-sizing: border-box;
  position: relative;
  z-index: 9999;
  border-bottom: 1px solid #ddd;
}
#header .header-left{
  width: auto;
  height: 60px;
  font-size: 24px;
}
#header .header-left a{
  color: #333;
}
#header .header-right{
  width: auto;
  height: 60px;
}
.new-btn{
  display: block;
  color: #5973a9;
  border: 2px solid #5973a9;
  border-radius: 20px;
  font-size: 14px;
  padding: 8px 20px;
  font-weight: 600;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
.new-btn:hover{
  color: #fff;
  background-color: #5973a9;
}

#main{
  padding-bottom: 120px;
}

.content{
  width: 1050px;
  margin: 0 auto;
}

#footer{
  position: absolute;
  bottom: 0;
  height: 100px;
  width: 100%;
  border-top: 1px solid #ccc;
}

#page-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
}
#page-top a {
  background-color: #0B5F32;
  text-decoration: none;
  color: rgba(255,255,255,0.9);
  width: 45px;
  height: 45px;
  border: 1px solid #fff;
  text-align: center;
  display: table;
  border-radius: 5px;
  font-size: 24px;
}
#page-top a:hover {
  text-decoration: none;
  background: #327751;
}